.vp-page figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alg-center {
  text-align: center;
}

.vp-page figure > figcaption {
  text-align: center;
}

.vp-theme-container a {
  text-decoration: none !important; 
}

.vp-theme-container a:hover {
  text-decoration: underline !important;
}

.vp-page blockquote p:not(:last-child) {
  margin-bottom: 15px;
}